<html>
    <head>
        {% set title = "BotZeFourth#6410 - Setup" %}
        {% set desc = "How to setup roles and channels~" %}
        {% include "components/_head.html" %}
    </head>

    <body class="dark-theme github">
        <section class="container">
            <h1>Quick set-up</h1>

            <div class="flex-grid branding-grid">
              <div class="col-xs-6">
                <img src="/static/images/add_role_channel.gif" class="center">
              </div>
              <div class="col-xs-6">
                <h2 class="title">About this bot!</h2>
                <p class="text">
                    First add role allowed so server members can start creating character sheets. If you want, you can also
                    enable the automatic thread creation in specific channel by adding the channel. Both commands require
                    id, thus, you need to enable developer mode in your settings to see the role and channel id.
                </p>
              </div>
            </div>

            <div class="flex-grid branding-grid">
              <div class="col-xs-6">
                <img src="/static/images/remove_role_channel.gif" class="center" style="width: 200%; height: auto;">
              </div>
              <div class="col-xs-6">
                <h2 class="title">About this bot!</h2>
                <p class="text">
                    Vice versa, you can remove any role or channel previously added using the 'remove' commands. Thanks
                    to the dropdown menus, you will not have to give the id yourself, but simply select the role or
                    channel by their name.
                </p>
              </div>
            </div>

        </section>
    </body>

</html>