<html>
  <head>
    {% set title = "BotZeFourth#6410 - Commands" %}
    {% set desc = "All commands BotZeFourth has~" %}
    {% include "components/_head.html" %}
  </head>
  <body class="dark-theme github">
    <section class="container">
      <div class="me unset">
              <img draggable="false" src="/static/images/List.jpg" class="image-title">
                <div class="unset">
                  <h1 class="title">Commands list</h1>
                  <p class="undertitle italic">All the commands available are given below.</p>
                </div>
              </div>

      <div class="buttons move-bottom-stuff-yes">
        <a href="/" class="btn navy-blue-dropshadow white-text hover">Home</a>
        <a href="https://discord.com/oauth2/authorize?client_id=848583084119031808&permissions=572143331044433&integration_type=0&scope=bot+applications.commands" class="btn emerald-dropshadow white-text hover" target="_blank">Invite me 🌌</a>
        <a href="/botsetup" class="btn emerald-dropshadow white-text hover">Set-up</a>
        <a href="/commands" class="btn emerald-dropshadow white-text hover">Commands</a>
        <a href="https://github.com/ChrisZeThird" class="btn github-dropshadow white-text hover" target="_blank">GitHub</a>
        <a href="https://discord.gg/T5Xajum7AE" class="btn discord-dropshadow white-text hover" target="_blank">Discord</a>
        <a href="https://bsky.app/profile/chriszethird.bsky.social" class="btn bsky-dropshadow white-text hover" target="_blank">Blusky</a>
      </div>

      {% for cog, com_desc in commands.items() %}
        <h4>{{ cog }}</h4> <!-- Display the cog name -->
        <table width="100%">
          <thead>
            <tr>
              <td class="bold">Name</td>
              <td class="bold">Description</td>
            </tr>
          </thead>
          <tbody>
            {% for command, description in com_desc.items() %}
              <tr>
                <td>{{ command }}</td>
                <td>{{ description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}

    </section>
  </body>
</html>
