<html>
    <head>
        {% set title = "ChrisZeThird" %}
        {% set desc = "This guy is such a tool bag..." %}
        {% include "components/_head.html" %}
    </head>

    <body class="dark-theme github">
    <section class="container">

    <div class="me unset">
      <div class="unset">
        <h1 class="title">Graphic Design</h1>
        <p class="undertitle italic">A small portfolio of design I have made.</p>
      </div>
    </div>

    <div class="buttons move-bottom-stuff-yes">
        <a href="/" class="btn navy-blue-dropshadow white-text hover">Home</a>
        <a href="https://botzefourth.github.io" class="btn emerald-dropshadow white-text hover" target="_blank">BotZeFourth</a>
        <a href="/physics" class="btn emerald-dropshadow white-text hover">Physics</a>
        <a href="/coding" class="btn emerald-dropshadow white-text hover">Coding</a>
        <a href="/graphicdesign" class="btn emerald-dropshadow white-text hover">Graphic design</a>
        <a href="https://github.com/ChrisZeThird" class="btn github-dropshadow white-text hover" target="_blank">GitHub</a>
        <a href="https://discord.gg/T5Xajum7AE" class="btn discord-dropshadow white-text hover" target="_blank">Discord</a>
        <a href="https://bsky.app/profile/chriszethird.bsky.social" class="btn bsky-dropshadow white-text hover" target="_blank">Blusky</a>
    </div>

    <!-- Image Gallery -->
    <div class="gallery">
      <div class="card" onclick="openOverlay(0)">
        <img src="/static/images/portfolio/rubiks_poster.jpg" alt="Rubik's Poster">
      </div>
      <div class="card" onclick="openOverlay(1)">
        <img src="/static/images/portfolio/pentablet.jpg" alt="Pen Tablet">
      </div>
      <div class="card" onclick="openOverlay(1)">
        <img src="/static/images/portfolio/ipad.jpg" alt="Pen Tablet">
      </div>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay">
      <div class="overlay-content">
        <span class="close" onclick="closeOverlay()">&times;</span>
        <button id="prevBtn" class="nav-btn" onclick="prevImage()">&#10094;</button>
        <img id="overlay-image" src="" alt="Expanded View">
        <button id="nextBtn" class="nav-btn" onclick="nextImage()">&#10095;</button>
      </div>
    </div>

    </section>
    <script src="/static/scripts/script.js"></script>
    </body>
</html>