<html>
    <head>
        {% set title = "ChrisZeThird" %}
        {% set desc = "This guy is such a tool bag..." %}
        {% include "components/_head.html" %}
    </head>

    <body class="dark-theme github">
    <section class="container">

    <div class="me unset">
     <img draggable="false" src="/static/images/atomkraft.png" class="image-title">
      <div class="unset">
        <h1 class="title">Physics</h1>
        <p class="undertitle italic">Research project and internship related work.</p>
      </div>
    </div>

    <div class="buttons move-bottom-stuff-yes">
        <a href="/" class="btn navy-blue-dropshadow white-text hover">Home</a>
        <a href="https://botzefourth.github.io" class="btn emerald-dropshadow white-text hover" target="_blank">BotZeFourth</a>
        <a href="/physics" class="btn emerald-dropshadow white-text hover">Physics</a>
        <a href="/coding" class="btn emerald-dropshadow white-text hover">Coding</a>
        <a href="/graphicdesign" class="btn emerald-dropshadow white-text hover">Graphic design</a>
        <a href="https://github.com/ChrisZeThird" class="btn github-dropshadow white-text hover" target="_blank">GitHub</a>
        <a href="https://discord.gg/T5Xajum7AE" class="btn discord-dropshadow white-text hover" target="_blank">Discord</a>
        <a href="https://bsky.app/profile/chriszethird.bsky.social" class="btn bsky-dropshadow white-text hover" target="_blank">Blusky</a>
    </div>

    </section>
    </body>
</html>